:root{
    --navbarColor: black;
}

* {
    font-family: 'spartan';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-size: 18px;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--navbarColor);
}
.item{
    padding: 10px;
    margin: 0 15px;
}
.logo{
    font-size: 25px;
    padding: 7.5px 10px 7.5px 5px;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: white;
}
