:root{
    --navbarColor: black;
}

.close, .hamburger{
    visibility: hidden;
    z-index: 0;
}
* {
    font-family: 'spartan';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
    position: fixed;
    justify-content: space-between;
    width: 100%;
}
.parent{
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

.mobilelogo{
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0px;
}
body{
    font-size: 18px;
    width: 100%;
    min-height: 100vh;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--navbarColor);
}
.item{
    padding: 10px;
    margin: 0 1%;
    justify-content: flex-end;
}
.item:first-of-type{
    padding-top: 5px;
    margin-top: 5px;

}
.logo{
    font-size: 25px;
    padding: 7.5px 10px 7.5px 5px;
    margin-right: auto;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    flex-direction: column;
    display: flex;
}
.list{
    padding: 10px;
    text-align: center;
}
.list p{
    letter-spacing: 1px;
    line-height: 30px;
}
.list a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.list a:hover{
    color: rgb(162, 0, 255);
}
.list h1{
    font-size: 30px;
    padding-bottom: 0px;
}
#contact a{
    color: black;
}

#invisible h2:first-of-type{
    visibility: hidden;
    font-size: 40px;
}

@media screen and (max-width: 600px){
    body{
        background-color: white;
    }
    .item{
        padding: 10px;
        margin: 0 15px;
        font-size: 20px;
    }

    .logo{
        /* font-size: 25px;
        padding: 7.5px 10px 7.5px 5px;
        margin-right: auto;
        margin-top: 0; */
        visibility: hidden;
    }
    .mobilelogo a{
        color: white;
        font-size: 25px;
    }
    .mobilelogo{
        background-color: black;
        visibility: visible;
        padding: 7.5px 10px 7.5px 5px;
    }

    .close, .hamburger{
        visibility: visible;
    }

    .hamburger {
        position: fixed;
        /* a large z-index puts the ham button above the rest of the page*/
        z-index: 99;
        border: none;
        cursor: pointer;
        top: 0.7rem;
        right: 0.7rem;
        color: white;
    }
    
    .menu {
        position: fixed;
        /* give the menu a larger z-index than the ham link
        to put the menu above it */
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 25vh;
        /* basic menu styling*/
        background-color: black;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: var(--navbarColor);
        
        flex-direction: column;
        /* animate slide up/down */
        transform: translateY(-100%);
        transition: transform 0.2s ease;
    }
    .navbar{
        will-change: transform;
    }
    
    img{
        width: 60vw;
    }
    .close {
    position: absolute;
    border: none;
    color: white;
    cursor: pointer;
    top: 0.7rem;
    right: 0.7rem;
    }
    .menu:target {
    /* show menu */
    transform: translateY(0);
    position: fixed;
    }
    .list{
        margin: 0 10vw;
    }
    .list h1{
        font-size: 5vw;
        margin: 0 5px;
    }
    .list p{
        font-size: 3.5vw;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    #contact a{
        font-size: 3vw;
        margin: 5px 10px 0 10px;
    }
    #contact i{
        font-size: 4.5vw;
        margin: 5px; 
    }

}
@media screen and (min-width: 601px) and (max-width: 768px) {
    img{
        width: 60vw;
    }
    #contact a{
        font-size: 3vw;
        margin: 5px 10px 0 10px;
    }
    #contact i{
        font-size: 3.5vw;
        margin: 5px; 
    }

    .list{
        margin: 0 10px;
    }
    .list h1{
        font-size: 4vw;
        margin: 0 5px;
    }
    .list p{
        font-size: 3vw;
        margin-top: 15px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    img{
        height: 30vw;
    }
    #contact a{
        font-size: 2vw;
        margin: 5px 10px 0 10px;
    }
    #contact i{
        font-size: 3vw;
        margin: 5px; 
    }

    .list{
        margin: 0 10px;
    }
    .list h1{
        font-size: 3vw;
        margin: 0 5px;
    }
    .list p{
        font-size: 2vw;
        margin-top: 15px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px){
    img{
        height: 30vw;
    }
    #contact a{
        font-size: 2vw;
        margin: 5px 10px 0 10px;
    }
    #contact i{
        font-size: 2.5vw;
        margin: 5px; 
    }
    .list{
        margin: 0 15px;
    }
    .list h1{
        font-size: 3vw;
        margin: 0 5px;
    }
    .list p{
        font-size: 1.5vw;
        margin-top: 15px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 1201px){
    img{
        height: 25vw;
    }
    #contact a{
        font-size: 1.5vw;
        margin: 5px 10px 0 10px;
    }
    #contact i{
        font-size: 2vw;
        margin: 5px; 
    }

    .list{
        margin: 0 15px;
    }
    .list h1{
        font-size: 2vw;
        margin: 0 5px;
    }
    .list p{
        font-size: 1.5vw;
        margin-top: 15px;
        margin-bottom: 10px;
    }
}